<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/USER/Desktop/Selenium_Webdriver/Konga_Automation_Project"><classes><class name="Category.CategoryTests"><methods><include name="PageTitle"/><include name="MyCarTest"/><include name="StoreLocator"/><include name="Groceries"/><include name="Health"/><include name="Drinks"/></methods></class><class name="HomePage.HomePageTests"><methods><include name="LoginSuccessful"/><include name="HomePageTitle"/></methods></class><class name="LoginPage.LoginPageTests"><methods><include name="AssertPageUrl"/><include name="AssertName"/></methods></class><class name="Logout.LogoutTests"><methods><include name="testLogout"/></methods></class></classes></test></suite>